@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --dark-blue: hsl(228, 56%, 26%);
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --very-dark-blue: hsl(229, 57%, 11%);
  --gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
}
body {
  margin: 0;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  background: var(--very-dark-blue) url("images/bg-mobile.png") no-repeat bottom;
  background-size: cover;
}
.page {
  width: 100vw;
  height: 100vh;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 576px) {
  body {
    background-size: 100% 50%;
    background-image: url("images/bg-desktop.png");
  }
  .page {
    padding: 0;
    align-items: center;
  }
  .page > .flyo {
    width: 920px;
    display: grid;
    grid-template-columns: 350px 540px;
    gap: 30px;
  }
}

.flyo > .data {
  padding: 40px;
  background-color: var(--dark-blue);
  border-radius: 10px 100px 10px 10px;
}
.flyo > .data > .logo {
  margin-bottom: 30px;
}
.flyo > .data > .icons {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}
.flyo > .data > .icons li {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--very-dark-blue);
}
@media (max-width: 575px) {
  .flyo > .data {
    margin-bottom: 15px;
  }
}
.flyo > .storage {
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--dark-blue);
}
.flyo > .storage > p.used {
  color: var(--grayish-blue)
}
.flyo > .storage > p.used span {
  font-weight: bold;
  color: var(--pale-blue)
}
.flyo > .storage > .progress {
  width: 100%;
  height: 20px;
  padding: 2px;
  border-radius: 15px;
  background-color:var(--very-dark-blue)
}
.flyo > .storage > .progress div {
  width: calc((815 / 1000) * 100%); /* 81.5% */
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));

  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flyo > .storage > .progress div span {
  width: 12px;
  height: 12px;
  display: block;
  margin-right: 3px;
  border-radius: 50%;
  background-color: white;
}
.flyo > .storage > .count {
  display: flex;
  justify-content: space-between;
  color: var(--pale-blue);
  font-weight: bold;
}
.flyo > .storage > .left {
  width: 180px;
  padding: 20px;
  border-radius: 15px;
  background-color: white;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.flyo > .storage > .left > h2 {
  margin: 0;
  font-size: 40px;
  color: var(--very-dark-blue)
}
.flyo > .storage > .left > p {
  text-transform: uppercase;
  color: var(--grayish-blue);
}
@media (max-width: 575px) {
  .flyo > .storage {
    text-align: center;
  }
  .flyo > .storage > .left {
    margin: -65px auto 0;
    transform: translateY(70px);
  }
}
@media (min-width: 576px) {
  .flyo > .storage {
    padding: 30px 40px;
    margin-top: auto;
    position: relative;
  }
  .flyo > .storage > .left {
    position: absolute;
    top: -60px;
    right: 30px;
  }
  .flyo > .storage > .left::after {
    content: '';
    position: absolute;
    bottom: -25px;
    right: 0;
    border-width: 20px;
    border-style: solid;
    border-color: white white transparent transparent;
  }
}